.wrapper {
	display:flex;
	flex-flow: row wrap;
	font-weight: bold;
	text-align: center;
}


.wrapper > * {
	padding: 10px;
	flex: 1 100%;
}

.header {
	background: tomato;
	color: green;
	font-family: 'Anton', sans-serif;
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);


}


.footer {
  background: tomato;
}

img {
	height: 600px;
	width: 338px;
}


.image1{
	height: 250px;
	width: 169px;
}
.main {
  text-align: left;
  background: deepskyblue;
  font-family: 'Lobster', cursive;

}

.aside-1 {
	background: gold;
	
}

@media all and (min-width: 600px) {
  .aside { flex: 1 0 0; }
}

@media all and (min-width: 800px) {
  .main    { flex: 3 0px; }
  .aside-1 { order: 1; } 
  .main    { order: 2; }
  .aside-2 { order: 3; }
  .footer  { order: 4; }
}

body {
	padding: 2em;
}